<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>SIMOBILE</h1>
  <ion-list class="center-spaced">
    Aplikasi Simobile adalah sebuah aplikasi yang digunakan untuk membantu sistem penjualan barang.
    Aplikasi ini membuat berbagai fitur, melihat daftar dan detail produk, menambahkan produk baru, melakukan transaksi,
    serta melihat riwayat transaksi.Berikut menu-menu navigasi yang ada: <br>
    <ol>
      <li>Dashboard: memuat rangkuman produk, transaksi yang sudah dilakukan pada hari tersebut, serta daftar produk
        yang terlaris.</li>
      <li>Produk: menu untuk melihat daftar produk, menambah produk baru, serta melakukan transaksi.
        Fitur Detail Produk dan Tambah Produk tidak akan bisa diakses saat sedang melakukan transaksi.
      </li>
      <li>Riwayat: akan menampilkan daftar riwayat transaksi.</li>
      <li>Profile: informasi mengenai toko dan pemilik.</li>
    </ol>
  </ion-list>

</ion-content>