
#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-router-outlet {
  flex: 1;
  position: relative;
}

ion-menu {
  --background: #1e1e1e;

  ion-content {
    --background: #1e1e1e;
  }

  ion-list {
    background: transparent !important;
  }

  ion-item {
    --background: transparent;
    --color: #ffffff;
  }
}