<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">riwayat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="riwayat-list"> 
    <div *ngFor="let date of allDates" class="card-container">
      <ion-label>{{formatInd(date)}}</ion-label>
      <ion-card *ngFor="let transaksi of filterRiwayat(date)" routerLink="detailriwayat/{{transaksi.id}}">
        <ion-item><span>Id Transaksi</span>:&nbsp;
          {{transaksi.id}}
        </ion-item>
        <ion-item><span>Jumlah Produk</span>:&nbsp;
          {{transaksi.items.length}}
        </ion-item>
        <ion-item><span>Total Harga</span>:&nbsp;
          Rp.{{transaksi.totalHarga}}
        </ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-content>


