<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Riwayat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">riwayat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngFor="let date of allDates">
      <ion-label>{{formatInd(date)}}</ion-label>
      <ion-card *ngFor="let transaksi of filterRiwayat(date)" routerLink="detailriwayat/{{transaksi.id}}">
        <ion-item>id: {{transaksi.id}}</ion-item>
        <ion-item>Jumlah Produk: {{transaksi.items.length}}</ion-item>
        <ion-item>Rp.{{transaksi.totalHarga}}</ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
