ion-list{
    padding: 20px; 
    //border: 2px solid white;
}

.card-container {
    //border: 2px solid white;
    clear: both;
    padding: 10px 20px; 

}
ion-card{
    margin: 30px 20px; 
    padding: 5px; 
    border: 1px solid black;
    border-radius: 5px;

    //background-color: black;
    //width: 40%;
    //float: left; 
}

ion-item span {
    width: 20%;
}