<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="top-container">
    <ion-item id="search-bar">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input labelPlacement="end" placeholder="Cari Produk" [(ngModel)]="keyword">
      </ion-input>
    </ion-item>

    <ion-select labelPlacement="stacked" placeholder="Snack" [(ngModel)]="tipe">
      <ion-select-option *ngFor="let tipe of arr_tipe" [value]="tipe">{{tipe}}
      </ion-select-option>
    </ion-select>
    
    <ion-button slot="end" id="btnTambahProduk" routerLink="tambahproduk">
      <!-- Tambah -->
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>


  </div>

  <div id="card-container">
    <ion-card *ngFor="for let product of filter(); let i = index" class="card-product" routerLink="detailproduk/{{i}}">
      <ion-card-header>
        <ion-item>
          {{product.nama}}
          <ion-chip color="{{badge(product.tipe)}}">
            {{product.tipe}}
          </ion-chip>
        </ion-item>
      </ion-card-header>

      <ion-img [src]="product.url == '' ? 'https://placehold.net/default.png' : product.url"></ion-img>

      <ion-item>
        <span>Price: </span>Rp{{product.harga}}
      </ion-item>
      <ion-item>
        <span>Stock: </span>{{product.stok}}
      </ion-item>

    </ion-card>
  </div>

  <!-- 
  <ion-grid>
    <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <ion-input labelPlacement="end" placeholder="Cari Produk" [(ngModel)]="keyword">
      </ion-input>
    </ion-item>


    <div id="content">
      <ion-row *ngFor="let product2 of chunkArray(products, 3); let i = index">
        <ion-col *ngFor="let product of product2; let i2 = index" size="4-6-12">
          <ion-list routerLink="detailproduk/{{i*3 + i2}}">
            <ion-header [ngStyle]="{ 'padding.px' : 10,'padding-left.px': 20,  'font-size.px' : 20}">
              {{product.nama}}
              <ion-chip color="{{setBadge(product.tipe)}}">
                {{product.tipe}}
              </ion-chip>
            </ion-header>
            <ion-img [src]="product.url" [ngStyle]="{'margin.px' : 20, 'width.px':450, 'height.px':450}"></ion-img>
            <ion-item>
              Price: Rp{{product.harga}}
            </ion-item>
            <ion-item>
              Stock: {{product.stok}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->




</ion-content>