<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daftar Produk</ion-title>
    <ion-buttons slot="end">
      <!-- Page nav-->
      <ion-button routerLink="/tambahproduk">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- For Two way bidn-->
  <ion-toolbar color="primary">
    <ion-searchbar 
      [(ngModel)]="searchTerm" 
      placeholder="Cari nama atau kategori..." 
      animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <!-- list items -->
    <ion-item 
      *ngFor="let p of filteredProducts" 
      [routerLink]="['/detailproduk', p.id]" 
      detail="true">

      <!-- fallback img -->
      <ion-avatar slot="start">
        <img [src]="p.fotoUrl ? p.fotoUrl : defaultImage" alt="Produk" />
      </ion-avatar>

      <ion-label>
        <h2><strong>#{{ p.id }} - {{ p.nama }}</strong></h2>
        <p>Kategori: {{ p.kategori }} | Stok: {{ p.stok }}</p>

        <!-- currency formating -->
        <p color="success"><strong>Rp {{ p.hargaJual | number }}</strong></p>
      </ion-label>

      <ion-button 
        slot="end" 
        size="small" 
        [color]="p.stok > 0 ? 'primary' : 'medium'"
        [disabled]="!p.stok" 
       (click)="$event.stopPropagation(); $event.preventDefault(); addToCart(p, $event)">
        {{ p.stok > 0 ? '+ Keranjang' : 'Habis' }}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="filteredProducts.length === 0" lines="none">
      <ion-label class="ion-text-center" color="medium">
        <p>Produk "{{ searchTerm }}" tidak ditemukan.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>