<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Form Tambah Produk</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-col size="4"><ion-label>Nama:</ion-label></ion-col>
          <ion-col size="8"><ion-input [(ngModel)]="nama"></ion-input></ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="4"><ion-label>Harga Beli:</ion-label></ion-col>
          <ion-col size="8"><ion-input type="number" [(ngModel)]="hargaBeli"></ion-input></ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="4"><ion-label>Harga Jual:</ion-label></ion-col>
          <ion-col size="8"><ion-input type="number" [(ngModel)]="hargaJual"></ion-input></ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="4"><ion-label>Stok:</ion-label></ion-col>
          <ion-col size="8"><ion-input type="number" [(ngModel)]="stok"></ion-input></ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="4"><ion-label>Tipe:</ion-label></ion-col>
          <ion-col size="8">
            <ion-select [(ngModel)]="tipe">
              <ion-select-option *ngFor="let t of arr_tipe" [value]="t">{{ t }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="4"><ion-label>URL Foto:</ion-label></ion-col>
          <ion-col size="8"><ion-input type="url" [(ngModel)]="url"></ion-input></ion-col>
        </ion-item>

        <ion-item lines="none" class="ion-margin-top">
          <ion-button id="btnTambah">Tambah</ion-button>
          <ion-alert 
            trigger="btnTambah" 
            header="Tambah Produk" 
            [message]="tambahProduk()" 
            [buttons]="alertButtons">
          </ion-alert>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>